{{ define "./views/login.html" }}
<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>精美的CSS3登录注册切换表单页面模板</title>

<link rel="stylesheet" href="/static/css/style.css">

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

</head>
<body>

<div class="cotn_principal">
  <div class="cont_centrar">
    <div class="cont_login">
      <div class="cont_info_log_sign_up">
        <div class="col_md_login">
          <div class="cont_ba_opcitiy">
            <h2>LOGIN</h2>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <button class="btn_login" onClick="cambiar_login()">LOGIN</button>
          </div>
        </div>
        <div class="col_md_sign_up">
          <div class="cont_ba_opcitiy">
            <h2>SIGN UP</h2>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <button class="btn_sign_up" onClick="cambiar_sign_up()">SIGN UP</button>
          </div>
        </div>
      </div>
      <div class="cont_back_info">
        <div class="cont_img_back_grey"> <img src="/static/image/po.jpg" alt="" /> </div>
      </div>
      <div class="cont_forms" >
        <div class="cont_img_back_"> <img src="/static/image/po.jpg" alt="" /> </div>
        <form method="POST" action="/user/login">
        <div class="cont_form_login"> <a href="#" onClick="ocultar_login_sign_up()" ><i class="material-icons">&#xE5C4;</i></a>
          <h2>LOGIN</h2>
          <input type="text" placeholder="Username" name="username" />
          <input type="password" placeholder="Password" name="password" />
          <button class="btn_login" onClick="cambiar_login()">LOGIN</button>
        </div>
        </form>
        <form method="POST" action="/user/register">
        <div class="cont_form_sign_up"> <a href="#" onClick="ocultar_login_sign_up()"><i class="material-icons">&#xE5C4;</i></a>
          <h2>SIGN UP</h2>
          
          <input type="text" placeholder="Username" name="username" />
          <input type="text" placeholder="Nickname" name="nickname" />
          <input type="password" placeholder="Password" name="password" />
          <input type="password" placeholder="Confirm Password" name="confirm_password" />
          <button class="btn_sign_up" onClick="cambiar_sign_up()">SIGN UP</button>
       
        </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/static/js/index.js"></script>

</body>
</html>

{{end}}